In [19]:
import pandas as pd
import plotly.express as px


df = pd.read_csv("caso.csv")

display(df)

,date,state,city,place_type,confirmed,deaths,order_for_place,is_last,estimated_population_2019,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
0,2020-07-30,AP,NaN,state,36272,561,132,True,845731.0,16.0,4288.83416,0.0155
1,2020-07-29,AP,NaN,state,35973,559,131,False,845731.0,16.0,4253.48013,0.0155
2,2020-07-28,AP,NaN,state,35697,558,130,False,845731.0,16.0,4220.84564,0.0156
3,2020-07-27,AP,NaN,state,35364,556,129,False,845731.0,16.0,4181.47141,0.0157
4,2020-07-26,AP,NaN,state,35220,554,128,False,845731.0,16.0,4164.44472,0.0157
...,...,...,...,...,...,...,...,...,...,...,...,...
441575,2020-06-23,SP,Óleo,city,1,0,5,False,2496.0,3533809.0,40.06410,0.0000
441576,2020-06-22,SP,Óleo,city,1,0,4,False,2496.0,3533809.0,40.06410,0.0000
441577,2020-06-21,SP,Óleo,city,1,0,3,False,2496.0,3533809.0,40.06410,0.0000
441578,2020-06-20,SP,Óleo,city,1,0,2,False,2496.0,3533809.0,40.06410,0.0000
441579,2020-06-19,SP,Óleo,city,1,0,1,False,2496.0,3533809.0,40.06410,0.0000

In [20]:
# Deletando as colunas vazias
df = df.dropna(how="all", axis=1)

# Deletando as linhas vazias
df = df.dropna(how="any", axis=0)

In [33]:
# Análise inicial
print(df["state"].value_counts(normalize=True).map("{:.1%}".format))

SP    13.2%
MG    12.5%
RS     7.9%
BA     7.3%
PR     6.3%
SC     5.7%
MA     4.5%
CE     4.3%
PE     4.2%
PB     4.1%
PI     3.8%
GO     3.7%
PA     3.3%
RN     2.8%
RJ     2.4%
AL     2.1%
TO     1.9%
MT     1.9%
ES     1.8%
SE     1.5%
AM     1.5%
MS     1.3%
RO     0.9%
AC     0.5%
AP     0.4%
RR     0.3%
DF     0.0%
Name: state, dtype: object

In [ ]:
# Análise com gráficos
for coluna in df.columns:
    grafico = px.histogram(df, x=coluna, color="state", text_auto=True)
    
grafico.show()

In [21]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 425978 entries, 132 to 441579
Data columns (total 12 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   date                            425978 non-null  object
 1   state                           425978 non-null  object
 2   city                            425978 non-null  object
 3   place_type                      425978 non-null  object
 4   confirmed                       425978 non-null  int64
 5   deaths                          425978 non-null  int64
 6   order_for_place                 425978 non-null  int64
 7   is_last                         425978 non-null  bool
 8   estimated_population_2019       425978 non-null  float64
 9   city_ibge_code                  425978 non-null  float64
 10  confirmed_per_100k_inhabitants  425978 non-null  float64
 11  death_rate                      425978 non-null  float64
dtypes: bool(1), float64(4), int64(3), object(4)
memory usage: 39.4+ MB
None